:root{
    --blue-color: #3882F6;
    --light-color: #F9FAF8;
    --dark-color: #1F2937;
    --gray-color: #E5E7EB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

button{
    background-color: var(--blue-color);
    color: var(--light-color);
    padding: 10px 35px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &:hover{
        opacity: 0.9;
    }
}

.container{
    max-width: 980px;
    margin: 0 auto;
}



/*HEADER*/
.header{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 40px 0 0 0;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.header-content a{
    text-decoration: none;
    color: var(--light-color);

    &:hover{
        opacity: 0.9;
    }
}



/*HERO*/
.hero-section{
    background-color: var(--dark-color);
    color: var(--light-color)
}
.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 48px 0;
    height: 450px;
}
.left{
    flex: 1;
    h1{
        font-size: 48px;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 18px;
        max-width: 350px;
    }
    p{
        font-size: 18px;
        margin-bottom: 18px;
    }
}
.right{
    flex: 1;
}
.hero-img-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-height: 250px;
}
.right img{
    object-fit: cover;
    width: 100%;
    height: auto;
    object-position: 40px -100px;
    transform: scale(1.2)
}



/*RANDOM INFORMATION*/
.random-information{
    padding: 48px 0;
    height: 450px;
}
.random-information h2{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 40px;
    text-align: center;
}
.items{
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    width: 150px;
    height: auto;
}
.item-image{
    width: 150px;
    height: 150px;
    border: 3px solid var(--blue-color);
    border-radius: 12px;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover{
        transform: translateY(-5px) rotate(-3deg);
        box-shadow: 0 10px 25px rgba(56, 130, 246, 0.3);
    }
}



/*QUOTE*/
.quote{
    display: flex;
    align-items: center;
    background-color: var(--gray-color);
    height: 450px;
}
.quote-text{
    font-size: 32px;
    font-weight: 200;
    color: var(--dark-color);
    font-style: italic;
    width: 690px;
    margin-bottom: 16px;
    text-align: start;
}
.quote-author{
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    margin-right: 40px;
}



/*FOOTER*/
footer{
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 40px 0;
}
.copyright{
    text-align: center;
}